.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
div{
    gap: 10px;
    height: 80px;
}
#un, #deux, #trois, #douze{
    background-color: orangered;
}
#un{
    width: 100%;
}
#deux{
    width: 100%;
}
#trois{
    width: 100%;
}
#douze{
    width: 100%;
}
.deux{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}
.trois{
    display: flex;
    width: 100%;
}
.douze{
    display: flex;
    width: 100%;
}