#container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
footer{
    background-color: blue;
    width: 100%;
    border-radius: 10px;
    height: 80px;
}
header{
    height: 80px;
    background-color: blue;
    width: 100%;
    border-radius: 10px;
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 10px;
}
article{
    flex-grow: 1;
    order: 2;
    background-color: rgb(117, 117, 218);
    border-radius: 10px;
}
nav{
    flex-grow: 1;
    background-color: salmon;
    order: 1;
    border-radius: 10px;
}
aside{
    flex-grow: 1;
    background-color: salmon;
    order: 3;
    border-radius: 10px;
}